{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> NEWS HIGHLIGHT </title>
        {% endif %}
</head>
<body>
    {% block content%}
    <div class="container">
            <!-- Business News Section  -->
            <h3> Top Business News Sources</h3>
            <hr>
    
            {{ macro.displaySourceList(sources)}}
    
            <!-- Business News Section  -->
             
            <h3> Top Technology News Sources</h3>
            <hr>
    
            {{ macro.displaySourceList(technology_sources)}}
    
            <!-- Entertainment News Section  -->
             
            <h3> Top Entertainment News Sources</h3>
            <hr>
    
            {{ macro.displaySourceList(entertainment_sources)}}
    
            <!-- Entertainment News Section  -->
             
            <h3> Top Sports News Sources</h3>
            <hr>
    
            {{ macro.displaySourceList(sports_sources)}}
        
    </div>
    
    
    {%endblock%}
    
</body>
</html>