{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> NEWS HIGHLIGHT </title>
        {% endif %}
</head>
<body>
    
    {% block content%}


    <div class="container">
        <form>
            <input type="text" name="source_query" placeholder="Search for a News" class="form-control">
            <input type="submit"  value="Search" class="btn btn-default">
        </form>
    
    </div>


    <div class="container-fluid">
        
            <h4> Top Business News Sources</h4>
            <hr>
            <hr>
    
            {{ macro.displaySourceList(sources)}}
    
             
            <h4> Top Technology News Sources</h4>
            <hr>
            <hr>
    
            {{ macro.displaySourceList(technology_sources)}}
    
             
            <h4> Top Entertainment News Sources</h4>
            <hr>
            <hr>
    
            {{ macro.displaySourceList(entertainment_sources)}}
    
             
            <h4> Top Sports News Sources</h4>
            <hr>
            <hr>
    
            {{ macro.displaySourceList(sports_sources)}}
        
    </div>
    
    
    {%endblock%}
    
</body>
</html>